* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #181818;
    width: 1920px;
    margin: auto;

    @media (max-width: 500px) {
        width: 100%;
    }
}



.first {
    width: 100%;
    height: 1002px;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)), url(imagine/background.png) center/cover;
    background-size: 1920px 1002px 1920px 1002px;
    background-repeat: no-repeat;
    background-position: top left;

    @media (max-width: 500px) {
        width: 100%;
        background-image: none;
        background-color: #5E5755;
        height: 650px;
    }
}



header {
    width: 100%;
    background: rgba(0, 0, 0, 0.537);

    @media (max-width: 500px) {
        background: rgba(0, 0, 0, 0.758);
    }
}

.headerH {
    width: 70%;
    margin: auto;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 500px) {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.header_logo {
    width: 161px;
    text-decoration: none;
    text-transform: uppercase;
    color: #CBA15E;
    cursor: pointer;
    display: grid;
    gap: 10px;
    grid-template-columns: 61px 90px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 27px;
    padding-top: 27px;
}

.headerH nav {
    width: 394px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;

    @media (max-width: 500px) {
        display: none;
    }
}

.headerH ul {
    display: flex;
    justify-content: space-between;
}

.headerH li {
    list-style: none;
}

.headerH li a {
    text-decoration: none;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    font-weight: 200;
    cursor: pointer;
}

#menu {
    display: none;

    @media (max-width: 500px) {
        display: flex;
        cursor: pointer;
    }
}

.jdesign {
    width: 70%;
    margin: auto;
    padding-top: 218px;
    padding-bottom: 333px;

    @media (max-width: 500px) {
        width: 90%;
        padding-top: 40px;
        padding-left: 0px;
    }
}

.jdesign h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: extra-expanded;
    color: #CBA15E;
    display: grid;
    gap: 5px;
    grid-template-columns: 133px 32px;
    padding-bottom: 11px;
}

.line {
    width: 32px;
    display: block;
    border-bottom: 1px solid #CBA15E;

    @media (max-width: 500px) {
        width: 16px;
    }
}

.jdesign h1 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 17px;
}

.jdesign p {
    width: 545px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 300;
    font-stretch: extra-expanded;
    line-height: 27px;
    padding-bottom: 80px;
    line-height: 26px;

    @media (max-width: 500px) {
        width: 300px;
        padding-bottom: 65px;
        font-size: 14px;
    }
}

.button {
    background-color: #CBA15E;
    padding: 23px 45px;
    font-family: 'Lora', serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    margin-right: 23px;

    @media (max-width: 500px) {
        padding: 15px 23px;
    }
}

.button:hover {
    font-weight: 400;
    background-color: white;
    color: #000000;
}

.service {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    overflow: hidden;

}

.slider {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    margin: auto;
}

.s_icons {
    padding-top: 120px;
    text-align: center;
    padding-bottom: 120px;
    object-fit: cover;

    @media (max-width: 500px) {
        padding-top: 120px;
        padding-bottom: 60px;
    }
}

.s_icons h2 {
    font-family: 'Rubik', sans-serif;
    padding-top: 30px;
    font-size: 25px;
    color: white;
    font-weight: 400;
    padding-bottom: 15px;
}

.s_icons p {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #A1A1A1;
    line-height: 19px;
}

#ring {
    width: 286px;
}

#dimond {
    width: 320px;

}

#gift {
    width: 300px;
}

.service button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #CBA15E;
}

.prev-button {
    margin-right: 500px;

    @media (max-width: 500px) {
        margin-right: 270px;
    }
}

.next-button {
    margin-left: 500px;

    @media (max-width: 500px) {
        margin-left: 270px;
    }
}

.about_back {
    width: 1920px;
    margin: auto;
    background-image: url(imagine/curly.png);
    background-repeat: no-repeat;
    background-position: left top 170px;

    @media (max-width: 500px) {
        background-position: left 170px;
        background-size: cover;
        width: 100%;
    }

}

.about {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.200)) 805px 0px,
        url(imagine/woman.png) 805px 0px, url(imagine/rings.png) 442px 325px;
    background-size: 545px 689px, auto, auto;
    background-repeat: no-repeat;

    @media (max-width: 500px) {
        width: 90%;
    }
}

.a_text {
    padding-top: 65px;

    @media (max-width: 500px) {
        padding-top: 65px;
    }
}

.a_text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: extra-expanded;
    color: #CBA15E;
    display: inline;
    display: grid;
    gap: 5px;
    grid-template-columns: 80px 32px;
    padding-bottom: 10px;
}



.a_text h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: white;
    padding-bottom: 15px;
}

.a_text p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #A1A1A1;
    padding-bottom: 50px;

    @media (max-width: 500px) {
        font-size: 14px;
    }
}

#amaintext {
    width: 660px;

    @media (max-width: 500px) {
        width: 100%;
    }
}

.a_text h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 28, 5px;
    color: white;
    padding-bottom: 15px;

    @media (max-width: 500px) {
        font-size: 16px;
    }
}

.aboutblock {
    width: 430px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 500px) {
        width: 100%;
    }

}

.aboutblock img {
    @media (max-width: 500px) {
        padding-right: 10px;
    }
}

.blocktext {
    width: 345px;

    @media (max-width: 500px) {
        width: auto;
    }
}

.abutton {
    display: block;
    padding-top: 20px;
    padding-bottom: 90px;

    @media (max-width: 500px) {
        text-align: center;
    }
}

.clienticon {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

    @media (max-width: 500px) {
        display: none;
    }
}

.clienticon h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #bbbbbbba;
}

.clienticon p {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #bbbbbb74;
}

.ourselection {
    width: 70%;
    height: 575px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 500px) {
        width: 90%;
        height: auto;
    }
}

.ourselection h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 590;
    font-stretch: extra-expanded;
    color: #CBA15E;
    display: inline;
    display: grid;
    gap: 5px;
    grid-template-columns: 138px 32px;
    padding-bottom: 10px;
}


.ourselection h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 55px;
    margin-top: 7px;
    color: white;
    padding-bottom: 40px;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 500px) {
        flex-direction: column;
    }

}

.i {
    text-align: center;
}

.star {
    padding-top: 7px;
}

.i h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
    padding-top: 5px;
    padding-bottom: 3px;
}

.i p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    display: inline;
}

.i span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    font-weight: 500;
    line-height: 24px;
    color: #CBA15E;
    text-decoration: line-through;
    display: inline;
}


.curly2 {
    width: 1919px;
    padding-top: 90px;
    background-image: url(imagine/curly2.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 500px) {
        width: 100%;
        padding-top: 40px;
        background-position: left;
        background-size: cover;
    }

}

.originofbeauty {
    padding-top: 80px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;

    @media (max-width: 500px) {
        width: 90%;
        display: block;
    }
}

.tresh {
    width: 804px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 500px) {
        display: none;
    }
}

.hand {
    width: 382px;
    height: 569px;
    background: linear-gradient(rgba(0, 0, 0, 0.046), rgba(0, 0, 0, 0.046)),
        url(imagine/hand.png);
    background-repeat: no-repeat no-repeat;
    background-size: 382px 569px, auto;
}

.woman2 {
    width: 382px;
    height: 569px;
    background: linear-gradient(rgba(0, 0, 0, 0.046), rgba(0, 0, 0, 0.046)) 0px 0px,
        url(imagine/woman2.png) 0px 0px;
    background-repeat: no-repeat no-repeat;
    background-size: 382px 569px, auto;
}

.text {
    width: 501px;

    @media (max-width: 500px) {
        width: 100%;
    }
}

.text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: extra-expanded;
    color: #CBA15E;
    display: grid;
    gap: 5px;
    grid-template-columns: 146px 32px;
    padding-bottom: 10px;

}

.text h1 {
    width: 388px;
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    color: white;
    padding-bottom: 17px;

    @media (max-width: 500px) {
        width: 100%;
    }
}

.text p {
    width: 501px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #A1A1A1;

    @media (max-width: 500px) {
        width: 100%;
    }
}

.oobbutton {
    padding-top: 60px;
}


.collection {
    text-align: center;
    width: 100%;
    padding-bottom: 120px;

    @media (max-width: 500px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}

.slider2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 500px) {
        display: flex;
        flex-direction: row;
        transition: transform 0.5s ease-in-out;
        margin: auto;
        width: 228px;
    }
}

.collection button {
    visibility: hidden;

    @media (max-width: 500px) {
        visibility: visible;
        top: 50%;
        transform: translateY(-50%);
        width: 70px;
        height: 70px;
        background-color: transparent;
        border: none;
        font-size: 30px;
        color: #CBA15E;
    }
}

.prev-button2 {
    @media (max-width: 500px) {
        padding-top: 50px;
    }
}

.next-button2 {
    @media (max-width: 500px) {
        padding-top: 50px;
    }
}

.b {
    position: relative;
    width: 457px;
}

.b p {
    position: absolute;
    top: 249px;
    left: 188px;
    color: #fff;
    visibility: hidden;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    font-stretch: semi-expanded;
    opacity: 0;
    transition: opacity .2s, visibility .2s;

    @media (max-width: 500px) {
        position: absolute;
        font-size: 16px;
        top: 100px;
        left: 94px;
    }
}

.b img {
    @media (max-width: 500px) {
        width: 228px;
        height: 228px;
    }
}

.b:hover p {
    visibility: visible;
    opacity: 1;
}

.invis {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.591);
    background-size: 457px 528px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;

    @media (max-width: 500px) {
        width: 228px;
        height: 228px;
    }
}

.b:hover .invis {
    visibility: visible;
    opacity: 1;
}

.insta {
    width: 90%;
    margin: auto;
}

.insta h2 {
    padding-left: 193px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: extra-expanded;
    color: #CBA15E;
    display: grid;
    gap: 5px;
    grid-template-columns: 217px 32px;
    padding-bottom: 10px;

    @media (max-width: 500px) {
        padding-left: 0px;
    }
}

.insta h1 {
    padding-left: 193px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    color: white;
    padding-bottom: 67px;

    @media (max-width: 500px) {
        padding-left: 0px;
        padding-bottom: 30px;
    }
}

.instafoto {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 121px;

    @media (max-width: 500px) {
        flex-direction: column;
        align-items: center;
    }
}

.instafoto img {
    @media (max-width: 500px) {
        width: 243px;
        height: 270px;
        flex-direction: column;
        padding-bottom: 20px;
    }
}


.news {
    margin: auto;
    width: 70%;

    @media (max-width: 500px) {
        width: 90%;
    }
}

.news h2 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-stretch: extra-expanded;
    color: #CBA15E;
    display: grid;
    gap: 5px;
    grid-template-columns: 140px 32px;
    padding-bottom: 10px;
}

.news h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    font-stretch: semi-expanded;
    color: white;
    padding-bottom: 40px;

    @media (max-width: 500px) {
        padding-bottom: 30px;

    }
}

.newstext {
    width: 100%;
    display: grid;
    grid-template-areas:
        "A A A A   B B B B   B B B B"
        "A A A A   C C C C   C C C C"
        "A A A A   D D D D   D D D D";
    column-gap: 34px;
    row-gap: 51px;

    @media (max-width: 500px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
    }

}

.smallnew {
    @media (max-width: 500px) {
        display: none;

    }
}

.box {
    width: 656px;
    height: 148px;
    background-color: #1F1F1F;
    display: grid;
    grid-template-columns: 230px auto;
    gap: 13px;
    cursor: pointer;

    @media (max-width: 500px) {
        width: 100%;
        height: fit-content;
        display: block;
    }
}

.box:hover {
    background-color: #353535;
}

#sa {
    grid-area: A;
    width: 661px;
    height: 548px;

    @media (max-width: 500px) {
        width: 100%;
        height: auto;
    }
}

#sa img {
    @media (max-width: 500px) {
        width: 100%;
        position: relative;
    }
}

#sb {
    grid-area: B;
}

#sc {
    grid-area: C;
}

#sd {
    grid-area: D;
}

.state {
    display: flex;
    flex-direction: column;

    @media (max-width: 500px) {
        padding-left: 8px;
    }
}

.state h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #CBA15E;
    display: inline;
    padding-top: 18px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.line2 {
    width: 25px;
    display: block;
    border-bottom: 1px solid #CBA15E;
    margin-left: 4px;
    margin-right: 4px;
}


.state h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    padding-top: 10px;
    font-stretch: semi-expanded;
    color: white;

    @media (max-width: 500px) {
        padding-top: 8px;
    }
}

#firstnew {
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    color: #A1A1A1;
}

.news p {
    padding-top: 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #A1A1A1;

    @media (max-width: 500px) {
        padding-top: 8px;
    }
}

.viewm {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 139px;
}

footer {
    width: 100%;
    background-color: #1F1F1F;
    background-image: url(imagine/curly3.png);
    background-position: 0px 45px;
    background-size: auto;
    background-repeat: no-repeat;

    @media (max-width: 500px) {
        background-size: cover;
    }
}

.contact {
    padding-top: 71px;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 469px 100px 110px 339px;
    gap: 111px;

    @media (max-width: 500px) {
        width: 90%;
        display: block;
        flex-direction: column;
    }
}

.contact h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    font-stretch: semi-expanded;
    color: white;
}

.signup {
    text-align: left;

    @media (max-width: 500px) {
        text-align: center;
        padding-bottom: 55px;
    }
}

.signup p {
    margin-top: 18px;
    width: 375px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #A1A1A1;

    @media (max-width: 500px) {
        width: 100%;
    }
}

.signup form {
    padding-top: 29px;
    display: flex;
    flex-direction: row;
    padding-bottom: 126px;

    @media (max-width: 500px) {
        padding-bottom: 0px;
        width: 100%;
        flex-direction: column;
    }


}

.signup input {
    border: none;
    outline: none;
    padding-left: 15px;
    width: 271px;
    height: 54px;
    color: #4D4343;
    font-family: 'Poppins', sans-serif;
    background-color: #D9D9D9;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @media (max-width: 500px) {
        margin-left: auto;
        margin-right: auto;
        height: 40px;
        width: 80%;
        margin-bottom: 20px;
    }

}

.signup button {
    border: none;
    outline: none;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    width: 144px;
    background-color: #CBA15E;

    @media (max-width: 500px) {
        width: 110px;
        height: 36px;
        margin: auto;
    }
}

.row {
    width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 500px) {
        width: auto;
    }

    @media (max-width: 337px) {
        display: none;
    }
}

.company {
    @media (max-width: 500px) {
        padding-bottom: 40px;
    }
}

.privacy {
    @media (max-width: 500px) {
        padding-bottom: 40px;
    }
}

.order {
    @media (max-width: 500px) {
        padding-bottom: 40px;
    }
}

.textcompany {
    @media (max-width: 500px) {
        display: none;
    }
}

.textorder {
    @media (max-width: 500px) {
        display: none;
    }
}

.contact ul {
    padding-top: 10px;

}

.contact li {
    list-style: none;
    padding-bottom: 12px;


}

.contact li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #A1A1A1;
    cursor: pointer;

}

.textorder ul {
    padding-top: 22px;
}

.textorder p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #A1A1A1;
}

#ourstore {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    text-decoration: underline;
}

.thelast {
    padding-top: 20px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 500px) {
        width: 90%;
        display: grid;
        grid-template-areas:
            "A A  B B"
            "C C  C C";
    }

    @media (max-width: 337px) {
        display: none;
    }
}

.lastlogo {
    width: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;

    @media (max-width: 500px) {
        grid-area: A;
        width: 161px;
    }
}

.lastlogo h2 {
    text-decoration: none;
    padding-left: 10px;
    padding-top: 7px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    font-weight: 400;
    font-stretch: ultra-expanded;
    color: #CBA15E;
    line-height: 19px;
}

.copy {
    width: 540px;

    @media (max-width: 500px) {
        text-align: center;
        width: 100%;
        grid-area: C;
        padding-bottom: 10px;
    }
}

.copy h2 {
    padding-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    font-stretch: semi-expanded;
    color: white;

    @media (max-width: 500px) {
        font-size: 16px;
    }
}

.sm {
    width: 229px;
    padding-bottom: 15px;
    padding-left: 20px;

    @media (max-width: 500px) {
        grid-area: B;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.sm img {
    padding-right: 32px;
}